<div class="flex flex-col md:w-[670px] border border-1-white bg-black p-4 gap-2">
    <div class="flex"><span class="flex text-white border border-1-white z-10 text-left pl-2 pr-2 font-inconsolata font-bold text-[18px]">Welcome to my portfolio</span></div>
  
    <h1 id="title" class="text-5xl text-white font-determination notranslate" translate="no">
        <span id="typewriter_body"></span>
        <span  id="caret" class="caret">|</span>
    </h1>
    <p class="text-white font-inconsolata text-justify font-semibold">{{phrase.substring(0, currentCharacterIndex)}}</p>
    <a href="https://www.sayedmohameddev@gmail.com/">
        <span class="flex gap-2 items-center text-white font-inconsolata text-justify font-semibold notranslate" translate="no">Let's Connect  
            <i class="fa-solid fa-arrow-right"></i> 
        </span>  
    </a>
</div>