<header class="lg:hidden header w-full flex items-center justify-center">
  <nav class="nav">
    <button class="hamburger"></button>
    <div class="nav-list font-inconsolata">
      <ul class="flex flex-col gap-8 pl-[40px] notranslate" translate="no">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#mywork">My work</a></li>
      </ul>
      <div class="social flex flex-col pt-64 gap-4 w-full">
        <ul class="flex gap-5 w-full justify-center notranslate" translate="no">
         
          <li><a href="https://github.com/sayedmohameddev"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/sayeed_mohamed.1/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sayed-mohamed-81b66b290/"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
        <p class="w-full flex justify-center text-white text-[12px]">©2024 sayed mohamed</p>
      </div>
    </div>
  </nav>
</header>
<header class="hidden w-full lg:flex items-center justify-center fixed top-0 h-16 z-30">
  <nav class="flex text-white w-full items-center justify-end pr-10">
      <ul class="flex gap-5 notranslate" translate="no">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#mywork">My work</a></li>
        <ul class="flex gap-5 pr-5 notranslate" translate="no">
        
          <li><a href="https://github.com/sayedmohameddev"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/sayeed_mohamed.1/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sayed-mohamed-81b66b290/"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </ul>
        <p class="pl-2 border-l border-white notranslate" translate="no"><a class="notranslate" translate="no" href="https://www.linkedin.com/in/sayed-mohamed-81b66b290/">Let's Connect <i class="fa-solid fa-arrow-right"></i></a></p>
  </nav>
</header>