<app-content-window>
    <div class="flex justify-center w-full h-28 relative">
        <div class="flex flex-col items-center justify-center absolute w-28 mt-28">
            <div class="bg-logo absolute"></div>
            <p class="text-white font-inconsolata absolute z-30 mt-[45px] font-semibold">sayed </p>
         </div>
    </div>
    <app-banner class="z-10 w-full"></app-banner>
    <app-nav-menu class="w-full"></app-nav-menu>
    <div class="w-full inset-0 bg-black h-48 z-10"></div>
    <div class="fixed w-[1.5px] h-screen bg-white"></div>
    <div class="flex gap-32 p-4">
        <app-main-card class="z-10 -mt-36"></app-main-card>
        <app-cube class="hidden z-10 -mt-40 lg:flex"></app-cube>
    </div>

    <span class="text-white font-inconsolata mt-10 border border-1-white pl-2 pr-2 bg-black z-10" id="skills">Always Learning</span>
    <div class="flex flex-col items-center justify-center p-4">
        <div class="flex flex-wrap items-center justify-center border border-white bg-black z-10 p-4 gap-4">
          <br>
            <img src="https://skillicons.dev/icons?i=html&theme=light" />
            <img src="https://skillicons.dev/icons?i=css&theme=light" />
            <img src="https://skillicons.dev/icons?i=js&theme=light" />
            <img src="https://skillicons.dev/icons?i=python&theme=light" />
            <img src="https://skillicons.dev/icons?i=tailwind&theme=light" />
            <img src="https://skillicons.dev/icons?i=angular&theme=light" />
            <img src="https://skillicons.dev/icons?i=nodejs&theme=light" />
            <img src="https://skillicons.dev/icons?i=git&theme=light" />
            <img src="https://skillicons.dev/icons?i=vscode&theme=light" />
            <img src="https://skillicons.dev/icons?i=ubuntu&theme=light" />
            <img src="https://skillicons.dev/icons?i=windows&theme=light" />
            <img src="https://skillicons.dev/icons?i=github&theme=light" />
            <img src="https://img.shields.io/badge/JWT-black?style=for-the-badge&logo=JSON%20web%20tokens" />
            <img src="https://img.shields.io/badge/-Redis-000?&logo=Redis" />
            <img src="https://skillicons.dev/icons?i=docker&theme=light" />
            <img src="https://skillicons.dev/icons?i=net&theme=light" />
            <img src="https://skillicons.dev/icons?i=netlify&theme=light" />
            <img src="https://skillicons.dev/icons?i=sass&theme=light" />
            <img src="https://skillicons.dev/icons?i=jquery&theme=light" />
            <img src="https://skillicons.dev/icons?i=figma&theme=light" />
            <img src="https://skillicons.dev/icons?i=gitlab&theme=light" />
            <img src="https://skillicons.dev/icons?i=linux&theme=light" />
            <img src="https://skillicons.dev/icons?i=nginx&theme=light" />
            <img src="https://skillicons.dev/icons?i=sqlite&theme=light" />
            <img src="https://skillicons.dev/icons?i=bootstrap&theme=light" />
            <img src="https://skillicons.dev/icons?i=mysql&theme=light" />
            <img src="https://skillicons.dev/icons?i=cs&theme=light" />
            <img src="https://skillicons.dev/icons?i=cpp&theme=light" />
            <img src="https://skillicons.dev/icons?i=c&theme=light" />



        </div>
    </div>
    <span class="text-white font-inconsolata z-10 bg-black border border-1-white mb-4 px-2" id="mywork">My Work</span>
        <div class="flex flex-wrap items-center justify-center z-20 gap-4 lg:border lg:border-2-white pb-4 max-w-[95%] lg:bg-black">
            <app-iframe description="freshcartapp." url="https://thefreshcartapp.netlify.app/" iframeid="iframe1" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="amazon." url="https://amazonproject01.netlify.app/login" iframeid="iframe2" class="flex flex-col items-center justify-center g-black"></app-iframe>
            <app-iframe description="devfolio." url="https://sayedmohameddev.github.io/devfolio/" iframeid="iframe3" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Customer-Transactions." url="https://sayedmohameddev.github.io/Customer-Transactions/" iframeid="iframe4" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="foodie-master." url="https://sayedmohameddev.github.io/foodie-master/" iframeid="iframe5" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Yummy." url="https://sayedmohameddev.github.io/YummyExam/" iframeid="iframe7" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Daniels." url="https://sayedmohameddev.github.io/Daniels-main/" iframeid="iframe8" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="login" url="https://sayedmohameddev.github.io/login-main/" iframeid="iframe9" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="game." url="https://sayedmohameddev.github.io/game/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Kanban" url="https://kanban111.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="MCQ-Exam" url="https://mcq-exam-main.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Ai-chat" url="https://ai-chat112.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Task-Manager" url="https://task-manager-4-lazy-loading.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="University-Mangment" url="https://sayedmohameddev.github.io/University-Management-System-main/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Investment-calculator" url="https://investmentcalculator12.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="portfolio_2" url="https://myportfolio222.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Movies-Website" url="https://sayedmohameddev.github.io/Movies-Website-javaScript/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="Angular-Forms" url="https://angular-forms-1.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="fake-store" url="https://fake-store12.netlify.app/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="EgyptianParty" url="https://sayedmohameddev.github.io/egyptianParty/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="BookMark" url="https://sayedmohameddev.github.io/BookMark1/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="portfolio" url="https://sayedmohameddev.github.io/portfolio/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="BACKREY" url="https://sayedmohameddev.github.io/BACKREY-/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
            <app-iframe description="HTML_And_CSS" url="https://sayedmohameddev.github.io/HTML_And_CSS_Template_Two/" iframeid="iframe10" class="flex flex-col items-center justify-center"></app-iframe>
        </div>


<app-footer class="w-full z-10"></app-footer>
</app-content-window>
