/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@font-face {
    font-family: Determination Sans Web;
    src: url(./assets/determinationsansweb.ttf);
  }
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #000000;
  border-radius: 6px;
}